$podcast-color: #94cb08;
$cafe-color: #805e43;

podcast-player {
  button.off md-icon {
    color: rgba(255,255,255,0.26);
    fill: rgba(255,255,255,0.26);
  }

  .md-button.md-fab.md-fab-top-right.play {
    top: -28px;
  }

  md-toolbar-filler {
    background: #eee;

    &.pod {
      background: $podcast-color;
    }
    &.cafe {
      background: $cafe-color;
    }

    md-progress-circular {
      &._md-progress-circular-disabled {
        display: none;
      }

      path {
        stroke: #fff;
      }
    }

    span {
      font-weight: bold;
      text-transform: uppercase;
      transform: rotate(-25deg);
    }
  }

  .md-toolbar-tools h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}