<md-list>
  <md-list-item class="md-3-line" ng-repeat="item in $ctrl.podcasts">
    <span class="md-avatar" ng-class="$ctrl.app.getTag(item)">
      {{$ctrl.app.getTag(item)}}
    </span>

    <div class="md-list-item-text">
      <h3>{{item.title}}</h3>
      <h4>
        {{item.category}} {{item.number}}
        <sub title="{{item.createdAt | amDateFormat : 'LL'}}">{{item.createdAtMinutes | amDurationFormat : 'minute'}}</sub>
      </h4>

      <p hide-xs>
        {{item.description}}
      </p>

      <!--<md-button class="md-secondary md-icon-button">-->
      <!--  <md-icon>favorite_border</md-icon>-->
      <!--</md-button>-->

      <md-button class="md-secondary md-icon-button" music-player="play" add-song="item">
        <md-icon>playlist_play</md-icon>
      </md-button>
    </div>

    <md-divider></md-divider>
  </md-list-item>
</md-list>