$podcast-color: #94cb08;
$cafe-color: #805e43;

podcast-list {
  .md-avatar {
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    transform: rotate(-25deg);

    &.pod {
      background: $podcast-color;
    }
    &.cafe {
      background: $cafe-color;
    }
  }
}