<!-- init soundManager2 player -->
<sound-manager></sound-manager>

<md-toolbar ng-if="currentPlaying" class="md-tall">
  <div layout="row" flex>
    <md-toolbar-filler layout layout-align="center center" ng-class="$ctrl.app.getTag(currentPlaying)">
      <md-progress-circular ng-disabled="currentDuration && currentDuration != '00:00'"></md-progress-circular>
      <span ng-if="currentDuration && currentDuration != '00:00'">{{$ctrl.app.getTag(currentPlaying)}}</span>
    </md-toolbar-filler>

    <div layout="column" flex>
      <seek-track>
        <md-progress-linear class="md-warn" md-mode="determinate" value="{{progress}}"></md-progress-linear>
      </seek-track>

      <div class="md-toolbar-tools">
        <h2>{{currentPlaying.title || currentPlaying.category + ' ' + currentPlaying.number}}</h2>
      </div>

      <div class="md-toolbar-tools">
        <span flex></span>

        <md-button prev-track class="md-icon-button">
          <md-icon>skip_previous</md-icon>
        </md-button>

        <md-button next-track class="md-icon-button">
          <md-icon>skip_next</md-icon>
        </md-button>

        <md-button repeat-music ng-class="{off: !repeat}" class="md-icon-button">
          <md-icon>repeat</md-icon>
        </md-button>

        <md-button mute-music class="md-icon-button">
          <md-icon ng-if="mute">volume_off</md-icon>
          <md-icon ng-if="!mute">volume_up</md-icon>
        </md-button>
      </md-content>
    </div>
  </div>

  <md-button play-pause-toggle class="play md-fab md-fab-top-right"
    data-play="<md-icon class='ng-scope material-icons'>play_arrow</md-icon>"
    data-pause="<md-icon class='ng-scope material-icons'>pause</md-icon>">
    <md-icon>play_arrow</md-icon>
  </md-button>
</md-toolbar>