<md-content layout="column" layout-fill>
  <md-toolbar id="toolbar" ui-view="toolbar"></md-toolbar>
  <md-content id="content" ui-view="content" flex></md-content>

  <podcast-player></podcast-player>
</md-content>